@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 1;
}


.header_logo {
    padding-left: 50px;
}

.header_logo img {
    height: auto;
    width: 100px;
}

.header_nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}

.header_nav_lista {
    flex-wrap: nowrap;
    font-family: 'Staatliches', cursive;
    gap: 30px;
}

ul {
    width: 700px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
}

li {
    position: relative;
    padding: 0;
}

li::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
}

li:hover::after {
    transform-origin: bottom center;
    transform: scaleX(1);
}

.header_nav_lista a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.header_nav i {
    font-size: 40px;
    display: none;
}

#toggle-menu {
    display: none;
}


.header_nav_iconos {
    display: flex;
    gap: 30px;
}

.header_nav_iconos img {
    height: 30px;
    width: auto;
}

#portada {
    background-image: url("../assets/img/pexels-sourav-mishra-7176833.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    height: 900px;
}

#portada {
    display: flex;
    justify-content: space-around;
    color: transparent;
}

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

}

.portada_titulo {
    font-family: 'Staatliches', cursive;
    color: #ffffff;
    font-size: 80px;
    max-width: 500px;
    display: flex;
    justify-content: end;
    text-align: center;
    padding: 200px 0px 0px;
}

.portada h1 {
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3)
}

.portada_parrafo {
    display: flex;
    justify-content: end;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    font-size: 20px;
    max-width: 300px;
}

.portada p {
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botones {
    display: flex;
    padding-top: 20px;
    gap: 30px;
}

.botones a {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
}

.boton {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    padding: 25px 30px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}

.boton:hover {
    z-index: 1;
    color: rgb(230, 168, 76);
}

.boton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}

.boton:hover::before {
    width: 150%;
}


#seleccion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 200px;
    background: rgb(230, 168, 76);
    background: linear-gradient(148deg, rgba(230, 168, 76, 1) 5%, rgba(255, 255, 255, 1) 15%, rgba(230, 168, 76, 1) 45%, rgba(255, 255, 255, 1) 90%, rgba(230, 168, 76, 1) 95%);
}

.seleccion_titulo {
    font-family: 'Staatliches', cursive;
    color: black;
    font-size: 50px;
    max-width: 600px;
}

.repro_music {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0px;
    padding-right: 80px;
    gap: 30px;
}

.music-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
    width: max-content;
}

.art {
    height: 100px;
    width: 100px;
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 150px;
    margin-left: 36px;
}

.artista {
    color: gray;
}

.overlay_box {
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 16px;
    background-color: #00000055;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 6px;
    height: 10px;
    background-color: white;
    margin: 4px;
    border-radius: 6px;
    animation: bar 1400ms infinite;
}

.bar:nth-child(even) {
    animation-delay: 700ms;
}

@keyframes bar {
    0% {
        height: 10px;
    }

    50% {
        height: 24px;
    }

    100% {
        height: 10px;
    }
}

#noticias {
    background-color: rgba(230, 168, 76, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    gap: 80px;
}

#noticias h1 {
    font-family: 'Staatliches', cursive;
    font-size: 70px;
}

.tarjetas {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 700px;
    background: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}

.image_container {
    padding: 25px;
}

.image_container img{
    height: 350px;
    width: 350px;
    border-radius: 30px;
}

.text_back {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    gap: 10px;
}

.text_back h2 {
    max-width: 350px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.text_back p {
    max-width: 350px;
    font-family: 'Roboto Slab', serif;
}

.card .botones {
    padding-bottom: 25px;
}

.boton_card {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    outline: 3px solid #000000;
    padding: 25px 40px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}

.boton_card:hover {
    z-index: 1;
    color: #FFFFFF;
}

.boton_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color:  rgb(230, 168, 76);
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}

.boton_card:hover::before {
    width: 150%;
}
